<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><%= @product.new_record? ? "Publicar Producto" : "Modificar Producto" %></h1>

      <% if @product.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el nombre del producto" %>
        </div>
        <div class="form-group">
          <%= f.text_field :price, class: "form-control input-lg", placeholder: "Ingresa el precio del producto" %>
        </div>
        <% for category in Category.all %>  
          <div>  
            <%= check_box_tag "product[category_ids][" + category.id.to_s + "]", category.id, @product.categories.include?(category) %>  
            <%= category.name %>  
          </div>
        <% end %>
        <div>
          <%= f.submit @product.new_record? ? "Crear Producto" : "Editar Producto", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>  
    </div>
  </div>
</div>